astroid==2.15.6
blinker==1.6.2
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.6
colorama==0.4.6
coverage==7.3.0
dill==0.3.7
Flask==2.3.2
pluggy==1.2.0
pylint==2.17.5
pylint-pyreverse==0.0.0
pytest==7.4.0
pytest-cov==4.1.0
requests==2.31.0
snakefood3==0.0.7
tomlkit==0.12.1
urllib3==2.0.4
Werkzeug==2.3.6
wrapt==1.15.0