<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Database</title>
</head>
<body>
<h1>This shows the stats</h1>
<br>
<p>Db size</p>
<br>
<p>Table names</p>
<br>
<p>Date of last entry</p>
<br>
<p>Functions available:
    <ul>
        <li>/</li>
        <li>/get-column/tablename-columnname</li>
        <li>/get/all</li>
        <li>/add_data/table_name/input_data</li>
        <li>/create_table/table_name</li>
        <li>/get-all-table</li>
    </ul>
</p>
<br>
<embed type="text/html" src="table.html" width="500" height="200">
</body>
</html>