<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Database</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/4.1.3/swagger-ui.css" />
    <style>
        html {
            box-sizing: border-box;
            overflow: -moz-hidden-unscrollable;
            overflow: hidden;
        }
        *, *:before, *:after {
            box-sizing: inherit;
        }
        body {
            margin: 0;
            background: #fafafa;
        }
        #swagger-ui {
            padding: 20px;
        }
    </style>
</head>
<body>
    <h1>This shows the stats</h1>
    <br>
    <p>Db size</p>
    <br>
    <p>Table names</p>
    <br>
    <p>Date of last entry</p>
    <br>
    <p>URLs available:</p>
    <embed type="text/html" src="table.html" width="500" height="200">
    <br>
</body>
</html>
